body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
img{
    max-width: 470px;
    max-height: 500px;
}
video{
    width: 470px;
    height: 320px;
}
/* #illusion-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */
illusion5{
    width: 470px;
    height: 500px;
    object-fit: cover;
}
#illusion-gallery img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#illusion-gallery video{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#illusion-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#illusion-gallery img, #illusion-gallery video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#illusion-gallery img:hover, #illusion-gallery video:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

header {
    background-color: #c7c7c7;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5 2px 2px 4px rgba(0,0,0,0.1);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
section {
    margin: 20px 0;
}
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
video:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
main h2 {
    color: #333;
    margin-bottom: 10px;
}
main{
    max-width: 2200px;
    margin-top: 20px;
}
section {
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #c7c7c7;
    padding: 20px;
}
#contact{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
footer {
    background-color: #c7c7c7;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
p {
    margin: 5px 0;
}